<div class="counter">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="item-counter">
                    <span class="item-icon"><i class="fa fa-database"></i></span>
                    <div data-refresh-interval="100" data-speed="3000" data-to="120" data-from="0" class="item-count">7803</div>
                    <span class="item-info">文章</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-counter">
                    <span class="item-icon"><i class="fa fa-user-plus"></i></span>
                    <div data-refresh-interval="50" data-speed="5000" data-to="10098" data-from="0" class="item-count">427</div>
                    <span class="item-info">访客</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-counter">
                    <span class="item-icon"><i class="fa fa-map-marker"></i></span>
                    <div data-refresh-interval="80" data-speed="5000" data-to="49" data-from="0" class="item-count">639</div>
                    <span class="item-info">关注</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-counter">
                    <span class="item-icon"><i class="fa fa-users"></i></span>
                    <div data-refresh-interval="80" data-speed="5000" data-to="1548" data-from="0" class="item-count">1548</div>
                    <span class="item-info">天数</span>
                </div>
            </div>
        </div>
    </div> 
</div>