<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>${title! "无标题"} - ${ confMap["website.title"].value }</title>

<meta name="keywords" content="${ confMap['website.meta.keywords'].value }">
<meta name="author" content="${ confMap['website.meta.author'].value }" />
<meta name="description" content="${ confMap['website.meta.description'].value }" />
<meta name="copyright" content="${ confMap['website.meta.copyright'].value }" />
<meta name="reply-to" content="${ confMap['website.meta.reply-to'].value }" />

<link rel="stylesheet" href="${ctxPath}/assets/bootstrap/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="${ctxPath}/assets/plugins/font-awesome/css/font-awesome.css" type="text/css"> 
<link id="theme_style" href="${ctxPath}/assets/css/style1.css" rel="stylesheet" type="text/css" media="screen">
<link rel="stylesheet" href="${ctxPath}/assets/plugins/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="${ctxPath}/assets/plugins/owl-carousel/owl.theme.css">
<script src="${ctxPath}/assets/js/jquery.js"></script>
