<!DOCTYPE html>
<html>
    <head>
        <#head title="首页" />
    </head>
    <body>
        <div class="wrapper">
            <#header />
            <section class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-sm-9">
                            ${ confMap["website.project"].value }
                            <!-- featured -->
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <#sidebar />
                        </div>
                    </div>
                </div>
            </section>
            <!-- / .counter -->

            <#footer />

        </div>


        <#script />
        <script type="text/javascript">
            $(document).ready(function () {

                if ($(".owl-carousel-featured").length > 0) {
                    $(".owl-carousel-featured").owlCarousel({
                        items: 3,
                        lazyLoad: true,
                        pagination: true,
                        autoPlay: 5000,
                        stopOnHover: true
                    });
                }

                $('.item-count').countTo({
                    formatter: function (value, options) {
                        return value.toFixed(options.decimals);
                    },
                    onUpdate: function (value) {
                        console.debug(this);
                    },
                    onComplete: function (value) {
                        console.debug(this);
                    }
                });
            });
        </script>

    </body>
</html>
